.animate__fadeIn {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

.animate__fadeInLeftBig {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-delay: 1s; /* Fördröjning på 0.5 sekunder */
  animation-delay: 0.2s;
}

.animate__fadeIn {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.animate__fadeOut {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
