@use "./_colors" as c;
@use "./_typography" as t;

.all-destinations {
  h2 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

.destination-list-object {
  list-style: none;
}

.destination-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 1rem;

  .destination-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: c.$main-color;
    margin-bottom: 2rem;

    &:hover {
      background-color: c.$third-color;
    }

    h4 {
      font-family: t.$secondary-font;

      &:hover {
        color: c.$main-color;
      }
    }

    .destination-image {
      width: 100%;
      height: 100px;
      object-fit: cover;
    }

    .destination-details {
      padding: 15px;
      text-align: center;
      font-size: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .destination-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .destination-card {
      border-radius: 7px;
      overflow: hidden;
      background: c.$main-color;
      margin-bottom: 1rem;
    }
  }
}
