@use "./_typography" as t;
@use "./_colors" as c;

.main-container {
  h1 {
    font-size: 2rem;
  }

  .welcome {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;

    h1 {
      margin: 1rem 0rem;
      text-align: center;
      width: 260px;
    }

    p {
      font-family: t.$main-font;
      font-size: 1rem;
      line-height: 1.2rem;
      margin-top: 0.5rem;
      text-align: center;
    }
  }

  .feeling-lucky {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2.2rem;
    align-items: center;
    justify-content: space-evenly;

    h2 {
      font-size: 1.5rem;
    }

    button {
      width: 80px;
      height: 80px;
      margin-top: 1rem;
      border-radius: 50%;
      border: none;
      background-color: c.$fourth-color;
      color: white;
      text-transform: uppercase;
      font-weight: 900;
      cursor: pointer;

      &:hover {
        background-color: c.$sixth-color;
        color: c.$fifth-color;
      }
    }
  }

  .destination-form {
    margin-top: 2rem;
    background-color: c.$fourth-color;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 2.4rem;
      margin-top: 2rem;
      color: white;
    }

    .question {
      margin-top: 1.3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 90%;
      padding: 0.5rem;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.582);

      .questLabel {
        width: 80%;
        color: white;
        font-family: t.$main-font;
        font-weight: 900;
        font-size: 1.2rem;
        margin: 1rem 0rem 1.5rem 0rem;
      }

      .questInDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        line-height: 1.7rem;
        width: 75%;

        &:last-child {
          margin-bottom: 1.2rem;
        }
      }
    }

    button {
      width: 100px;
      height: 25px;
      margin: 1rem 0rem;
      background-color: c.$main-color;
      color: white;
      border: none;
      border-radius: 7px;
      cursor: pointer;

      &:disabled {
        background-color: red;
        color: rgba(255, 255, 255, 0.463);
        cursor: not-allowed; // För att visa att knappen är inaktiv
      }

      &:not(:disabled):hover {
        background-color: c.$seventh-color;
        color: c.$main-color;
      }
    }
  }
}

@media (min-width: 600px) {
  .main-container {
    .feeling-lucky {
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        width: 100px;
        height: 100px;
        margin-top: 0rem;
      }
    }
    .destination-form {
      width: 90%;

      .question {
        width: 75%;
      }

      button {
        width: 120px;
        height: 35px;
        font-size: 1.3rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .main-container {
    .welcome {
      h1 {
        font-size: 3rem;
        width: 400px;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
    }
    .destination-form {
      width: 80%;

      h1 {
        font-size: 3rem;
        margin: 3rem 0rem 1rem 0rem;
      }
    }
  }
}
