@use "./partials/partials" as c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

body {
  background-color: c.$fifth-color;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  position: relative;
  margin: 1rem 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-container {
  display: flex;
  width: 100%;
  min-height: 65%;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  flex-direction: column;
  position: relative;
  background-color: c.$secondary-color;
  padding: 1rem;
  border-radius: 10px;
}

a {
  color: c.$main-color;
  text-decoration: none;
  font-size: 0.8rem;
}

a:hover {
  color: c.$third-color;
}

.about-dest {
  display: flex;
  flex-direction: column;

  .one-row {
    display: flex;
    flex-direction: row;
  }
}
