@use "./partials/partials" as p;

header {
  flex-direction: column;
  height: 200px;
  margin-bottom: 0;
}

main {
  width: 100%;
}

.main-container {
  margin: 1rem;
}

.feeling-lucky {
  button {
    width: 100px;
    height: 100px;
    font-size: 1.3rem;
  }
}
